$primary: #703db3;
$selection: #703db350;
$plano: #090a0c;
$card: #0b0c0e;
$header: #090a0cea;

header {
    background: #00000000;
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: space-between;
    padding: 0 5vh 0 5vh;
    position: fixed;
    transition: height .3s ease-in-out;
    transition: background .3s ease-in-out;

    .logo { 
        display: grid;
        place-items: center;
        width: 20%;
        height: 100%;

        img {
            transition: .3s ease-in-out;
        }
    }

    .links {
        width: 30%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        a {
            color: #fff;
            text-decoration: none;
            position: relative;
            transition: .2s ease-in-out;

            &::after{
                    content: " ";
                    width: 0%;
                    height: 1px;
                    background-color: $primary;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: .2s ease-in-out;
                }

            &:hover{
                color: $primary;

                &::after{
                    width: 100%;
                }
            }
        }
    }
}

main {
    height: auto;
    width: auto;
    background: $plano;

    .main-div1 {
        width: 100%;
        height: 80vh;
        overflow: hidden;
        background: url(../Imgs/banner_illusion.png) center;
        background-repeat: no-repeat;
        background-size: cover;
        border-bottom: 1px solid $primary;
    }

    .main-div2 {
        width: 100%;
        height: 70vh;
        background: $plano;
        display: flex;

        .main-div2-div1 {
            width: 50%;
            height: 100%;
            padding: 10vh;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 1vh;

            h2 {
                color: $primary;
                font-size: 30pt;
            }

            p {
                color: #fff;
            }
        }

        .main-div2-div2 {
            width: 50%;
            height: 100%;
            display: grid;
            place-items: center;
        }
    }

    .main-div3 {
        width: 100%;
        height: 30vh;
        padding: 0 20vh 0 20vh;
        background: $plano;
        color: $primary;
        display: grid;
        place-items: center;
        text-align: center;

        h1 {
            text-shadow: 0 0 12px $selection, 0 0 50px $selection, 0 0 100px $selection;
            font-size: 30pt;
            font-family: 'JetBrains Mono', monospace;
        }
    }

    .main-div4 {
        background: $plano;
        width: 100%;
        height: auto;
        padding: 5vh 10vh 5vh 10vh;

        .main-div4-div1 {
            width: 100%;
            height: 15vh;
            display: grid;
            place-items: center;
            color: #fff;
        }

        .main-div4-div2 {
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;

            .card-curso {
                width: 18vw;
                height: 42vh;
                margin-bottom: 5vh;
                background: $card;
                border-radius: 5px;
                box-shadow: 0 0 5px $primary;

                .img {
                    width: 100%;
                    height: 20vh;
                    overflow: hidden;

                    img {
                        width: 100%;
                    }
                }

                .text {
                    color: #fff;
                    padding: 0 1vh 0 1vh;

                    #title {
                        font-size: 11pt;
                        padding: 5px 0 5px 0;
                    }

                    #teacher {
                        padding-bottom: 5px;
                    }

                    #ass {
                        padding-bottom: 5px;
                    }

                    #price {
                        padding-bottom: 5px;
                    }

                    #fc {
                        font-size: 10pt;
                    }

                    .carrinho {
                        width: 100%;
                        height: 7vh;
                        display: flex;
                        align-items: center;
                        justify-content: right;

                        a {
                            div {
                                width: 32px;
                                height: 32px;
                                //background: #fff;
                                //border-radius: 50%;
                                display: grid;
                                place-items: center;
                            }
                        }
                    }
                }

            }
        }
    }

    .main-div5 { 
        width: 100%;
        height: auto;
        background: $plano;

        .title {
            width: 100%;
            height: 15vh;
            display: grid;
            place-items: center;

            h2{
                color: #fff;
            }
        }

        .cards {
            display: flex;
            width: 100%;
            height: auto;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            flex-wrap: wrap;
            padding: 2vh 5vh 10vh 5vh;

            .card {
                width: 20vw;
                height: 45vh;
                padding: 2vh;
                color: #fff;
                background: $card;
                border-radius: 5px;
                box-shadow: 0 0 5px $primary;

                .head {
                    width: 100%;
                    height: 6vh;
                    display: flex;
                    align-items: center;
                    gap: 1vh;

                    img {
                        border-radius: 50%;
                    }
                }

                .body {
                    padding: 2vh 0 2vh 0;
                    text-align: justify;
                }
            }
        }
    }

    .main-div6 {
        width: 100%;
        height: 60vh;
        display: flex;

        .programmer {
            width: 50%;
            height: 100%;
            display: grid;
            place-items: center;
        }

        .cyber {
            width: 50%;
            height: 100%;
            display: grid;
            place-items: center;
        }
    }
}

footer {
    width: 100%;
    height: 15vh;
    background: #000000fb;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

// extilizações globais 

::selection{
    background-color: $selection;
}

::-webkit-scrollbar{
    width: 8px;
    background-color: $plano;
}

::-webkit-scrollbar-thumb{
    background-color: $primary;
    border: 0px;
    border-radius: 3px;
}

.ativo {
    width: 100%;
    height: 12vh;
    background: $header;
    box-shadow: 0px 6px 15px -15px $primary;

    img {
        width: 75px;
    }
}

@media only screen and (max-width: 768px) {
    header {
        height: 10vh;
        padding: 0 3vh 0 3vh;

        .logo {
            width: 30%;
        }

        .links {
            width: 50%;
            font-size: 0.8em;

            a {
                padding: 0.5em;
            }
        }
    }

    main {

        .main-div1,
        .main-div2,
        .main-div3,
        .main-div4,
        .main-div5,
        .main-div6 {
            height: auto;
        }

        .main-div2 {
            .main-div2-div1 {
                padding: 5vh;
            }

            .main-div2-div2 {
                display: none;
            }
        }

        .main-div4 {
            padding: 3vh;

            .main-div4-div2 {
                .card-curso {
                    width: 100%;
                    margin-bottom: 3vh;
                }
            }
        }

        .main-div5 {
            .title {
                height: auto;
            }

            .cards {
                padding: 1vh;

                .card {
                    width: 100%;
                    height: auto;
                    margin-bottom: 3vh;
                }
            }
        }

        .main-div6 {

            .programmer,
            .cyber {
                width: 100%;
                height: auto;
            }
        }
    }

    footer {
        height: 12vh;
        gap: 0.5vh;
    }

    ::selection {
        background-color: $selection;
    }
}