.main-container {
    padding: 1rem !important;
    background-color: var(--background-highlight) !important;
    border-radius: 10px !important;
    border: 2px solid var(--background-elevated-base) !important;
    animation: introduction 1s !important;
    margin: 2rem !important;
    margin-top: 6rem !important;
}

.main-title {
    font-size: 2rem !important;
    font-weight: bold !important;
    margin-bottom: 20px !important;
    color: var(--text-base) !important;
    text-align: center !important;
}

.main-title:hover {
    color: var(--houver) !important;
}

.main-description {
    font-size: 1.2rem !important;
    margin-bottom: 30px !important;
    color: var(--text-subdued) !important;
    text-align: center !important;
}

.main-description:hover {
    color: var(--text-base) !important;
}

.main-link {
    color: #007bff !important;
    font-weight: bold !important;
}

.main-img {
    display: block !important;
    margin-left: auto !important ;
    margin-right: auto !important;
    width: 80% !important;
    max-width: 800px !important;
    border-radius: 4px !important;
    object-fit: cover !important;
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.btn-primary {
    background-color: var(--houver) !important;
    border-color: var(--houver) !important;
    color: var(--text-base) !important;
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 30px !important;
    font-size: 14px !important;
    text-align: center !important;
    width: 50% !important;
}

.btn-primary:hover {
    background-color: var(--houver-base) !important;
    border-color: var(--houver-base)!important;
    color: var(--text-subdued)!important;
}

.video-thumbnail {
    width: 100% !important;
    height: 100% !important;
    object-fit: cover !important;
    border-radius: 5px !important;
    border: none !important;
    box-shadow: none !important;
}

.remove-black-border {
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.video-thumbnail img {
    object-fit: cover !important;
}

.videos-map:hover {
    opacity: 0.5 !important;
    border-radius: 100% !important;
}

.video-thumbnail:hover {
    -webkit-filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%)) !important;
    filter: drop-shadow(0px 0px 20px rgba(0 0 0 / 90%)) !important;
    color: var(--houver) !important;
}

.video-p {
    font-size: 14px !important;
    margin-top: 10px !important;
    text-align: center !important;
}

.video-container {
    margin-bottom: 10px !important;
    box-shadow: none !important;
}

.img-404 {
    display: block !important;
    margin: 0 auto !important;
    width: 32% !important;
}

.erro-loading-videos {
    margin-top: 1rem !important;
    font-size: 1rem !important;
    font-weight: 900 !important;
    color: var(--error-press) !important;
}

@media (max-width: 768px) {
    .main-container {
        max-width: 90%;
        margin: 5rem auto;
        padding: 16px;
        background-color: var(--background-highlight);
        border-radius: 10px;
    }

    .main-title {
        font-size: 20px;
        margin-bottom: 10px;
        text-align: center;
    }

    .main-img {
        max-width: 100%;
        margin-bottom: 20px;
    }

    .main-description {
        font-size: 1rem;
        margin-bottom: 10px;
    }

    .btn-primary {
        font-size: 1rem;
        width: 50%;
        text-align: center;
    }

    .video-container {
        padding: 0 8px;
    }

    .img-404 {
        display: block;
        margin: 0 auto;
        width: 100%;
    }

    .erro-loading-videos {
        font-size: 0.8rem;
        font-weight: 900;
    }
}