:root {
    --background-base-degrade: #210d38;
    --background-degrade: linear-gradient(0deg, #210d38 1%, #221136 25%, #121212 66%, #121212 100%);
    --background-base: #121212;
    --background-highlight: #1a1a1a;
    --background-press: #000;
    --background-elevated-base: #242424;
    --background-elevated-highlight: #2a2a2a;
    --background-elevated-press: #000;
    --background-tinted-base: hsla(0, 0%, 100%, 0.07);
    --background-tinted-highlight: hsla(0, 0%, 100%, 0.1);
    --background-tinted-press: hsla(0, 0%, 100%, 0.04);
    --background-unsafe-for-small-text-base: #121212;
    --background-unsafe-for-small-text-highlight: #121212;
    --background-unsafe-for-small-text-press: #121212;
    --background-color-cinza: rgba(255, 255, 255, 0.5);
    --text-base: #fff;
    --text-subdued: #a7a7a7;
    --text-bright-accent: #1ed760;
    --text-negative: #a10f0f;
    --text-warning: #ffa42b;
    --text-positive: #1ed760;
    --text-announcement: #3d91f4;
    --essential-base: #fff;
    --essential-subdued: #727272;
    --essential-bright-accent: #1ed760;
    --essential-negative: #e91429;
    --essential-warning: #ffa42b;
    --essential-positive: #1ed760;
    --essential-announcement: #0d72ea;
    --decorative-base: #fff;
    --decorative-subdued: #292929;
    --houver-claro: #8966fc;
    --houver: #7b5fda;
    --houver-base: #714fa7;
    --effect-color-red: #991a0e;
    --effect-color-yellow: #a99f0f;
    --effect-color-blue: #0b5d94;
    --effect-color-green: #236f1e;
    --error-base: #f44336;
    --error-highlight: #d32f2f;
    --error-press: #b71c1c;
}