@import url(../Css/global.css);

header {
  background: rgba(0, 0, 0, 0);
  width: 100%;
  height: 15vh;
  display: flex;
  justify-content: space-between;
  padding: 0 5vh 0 5vh;
  position: fixed;
  transition: height 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  
}
header .logo {
  display: grid;
  place-items: center;
  width: 20%;
  height: 100%;
}
header .logo img {
  transition: 0.3s ease-in-out;
}
header .links {
  width: 18%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
header .links a {
  color: var(--text-subdued);
  transition: color 0.3s ease-in-out, border-bottom 0.3s ease-in-out;
  position: relative;
  font-weight: 500;
}
header .links a::after {
  content: " ";
  width: 0%;
  border-bottom: 2px solid var(--houver);
  background-color: #703db3;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s ease-in-out;
}
header .links a:hover {
  color: #703db3;
}
header .links a:hover::after {
  width: 100%;
}

main {
  height: auto;
  width: auto;
  background: #090a0c;
}

main .main-div1 {
  width: 100%;
  height: 80vh;
  overflow: hidden;
  background: url(../Imgs/banner_illusion.png) center;
  background-repeat: no-repeat;
  background-size: cover;
}

main .main-div2 {
  width: 100%;
  height: 70vh;
  background: #090a0c;
  display: flex;
  font-weight: 300;
}
main .main-div2 .main-div2-div1 {
  width: 50%;
  height: 100%;
  padding: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1vh;
}
main .main-div2 .main-div2-div1 h2 {
  color: #703db3;
  font-size: 28pt;
  font-weight: 900;
}
main .main-div2 .main-div2-div1 p {
  color: #fff;
}
main .main-div2 .main-div2-div2 {
  width: 50%;
  height: 100%;
  display: grid;
  place-items: center;
}
main .main-div3 {
  width: 100%;
  height: 30vh;
  background: #090a0c;
  color: #703db3;
  display: grid;
  place-items: center;
  text-align: center;
}
main .main-div3 h1 {
  text-shadow: 0 0 12px rgba(112, 61, 179, 0.3137254902), 0 0 50px rgba(112, 61, 179, 0.3137254902), 0 0 100px rgba(112, 61, 179, 0.3137254902);
  font-size: 2rem;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}
main .main-div4 {
  background: #090a0c;
  width: 100%;
  height: auto;
  padding: 5vh 10vh 5vh 10vh;
}
main .main-div4 .main-div4-div1 {
  width: 100%;
  height: 15vh;
  display: grid;
  place-items: center;
  color: #fff;
}
main .main-div4 .main-div4-div2 {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
main .main-div4 .main-div4-div2 .card-curso {
  width: 18vw;
  height: 42vh;
  margin-bottom: 5vh;
  background: #0b0c0e;
  border-radius: 5px;
  box-shadow: 0 0 5px #703db3;
}
main .main-div4 .main-div4-div2 .card-curso .img {
  width: 100%;
  height: 20vh;
  overflow: hidden;
}
main .main-div4 .main-div4-div2 .card-curso .img img {
  width: 100%;
}
main .main-div4 .main-div4-div2 .card-curso .text {
  color: #fff;
  padding: 0 1vh 0 1vh;
}
main .main-div4 .main-div4-div2 .card-curso .text #title {
  font-size: 11pt;
  padding: 5px 0 5px 0;
}
main .main-div4 .main-div4-div2 .card-curso .text #teacher {
  padding-bottom: 5px;
}
main .main-div4 .main-div4-div2 .card-curso .text #ass {
  padding-bottom: 5px;
}
main .main-div4 .main-div4-div2 .card-curso .text #price {
  padding-bottom: 5px;
}
main .main-div4 .main-div4-div2 .card-curso .text #fc {
  font-size: 10pt;
}
main .main-div4 .main-div4-div2 .card-curso .text .carrinho {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: right;
}
main .main-div4 .main-div4-div2 .card-curso .text .carrinho a div {
  width: 32px;
  height: 32px;
  display: grid;
  place-items: center;
}
main .main-div5 {
  width: 100%;
  height: auto;
  background: #090a0c;
}
main .main-div5 .title {
  width: 100%;
  height: 15vh;
  display: grid;
  place-items: center;
}
main .main-div5 .title h2 {
  color: #fff;
}
main .main-div5 .cards {
  display: flex;
  width: 100%;
  height: auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 2vh 5vh 10vh 5vh;
}
main .main-div5 .cards .card {
  width: 20vw;
  height: 45vh;
  padding: 2vh;
  color: #fff;
  background: #0b0c0e;
  border-radius: 5px;
  box-shadow: 0 0 5px #703db3;
}
main .main-div5 .cards .card .head {
  width: 100%;
  height: 6vh;
  display: flex;
  align-items: center;
  gap: 1vh;
}
main .main-div5 .cards .card .head img {
  border-radius: 50%;
}
main .main-div5 .cards .card .body {
  padding: 2vh 0 2vh 0;
  text-align: justify;
}
main .main-div6 {
  width: 100%;
  height: 60vh;
  display: flex;
}
main .main-div6 .programmer {
  width: 50%;
  height: 100%;
  display: grid;
  place-items: center;
}
main .main-div6 .cyber {
  width: 50%;
  height: 100%;
  display: grid;
  place-items: center;
}

footer {
  width: 100%;
  height: 15vh;
  background: rgba(0, 0, 0, 0.9843137255);
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1vh;
}

::selection {
  background-color: rgba(112, 61, 179, 0.3137254902);
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #090a0c;
}

::-webkit-scrollbar-thumb {
  background-color: #703db3;
  border: 0px;
  border-radius: 3px;
}

.ativo {
  width: 100%;
  height: 12vh;
  background: rgba(9, 10, 12, 0.9176470588);
  box-shadow: 0px 6px 15px -15px #703db3;
}
.ativo img {
  width: 75px;
}

/*# sourceMappingURL=style.css.map */
